# ======================================
# Django + Python
# ======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ======================================
# Entorno virtual
# ======================================
.venv/
venv/
ENV/
env/
*.env
.env.*
env.py

# ======================================
# Base de datos local (SQLite)
# ======================================
*.sqlite3

# ======================================
# Archivos estáticos y media
# ======================================
/staticfiles/
/media/
/static/

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Configuración de IDEs
# ======================================
.vscode/
.idea/

# ======================================
# macOS
# ======================================
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Iconos de carpeta
Icon?
._Icon?

# Archivos de sistema
.Spotlight-V100
.Trashes
*.swp
