{% extends "base.html" %}

{% load static %}
{% block title %}Home - Bookaroo{% endblock title %}

{% block main_class %}index-custom-container{% endblock main_class %}

{% block content %}

<!-- index.html content starts here -->
<div class="col-md-12 h-100">

    <div class="card shadow-none border-0 home-page h-100">
        <div class="card-body index-content no-shadow ">
            <blockquote class="blockquote mb-0  text-center">
                <h1 class="text-index"> <span class="highlight-txt">{{ user.username | upper }}</span>
                    <br> Welcome to Bookaroo!</span>
                </h1>
            </blockquote>
            <div class="content">
                <h2 class="title ">Now you can reserve <br>books online</h2>
                <p class="subtitle">Your next story is just a click away.
                    Reserve your favorite books online with ease.</p>
            </div>
            {% if request.user.is_authenticated %}
            <div class="buttons p-0">
                <a href="{% url 'book:available_books_list' %}" class="btn primary-btn">Browse Books</a>

                {% else %}
                {% with name=request.resolver_match.url_name %}

                <a class="btn primary-btn {% if name == 'account_signup' %}active{% endif %}"
                    href="{% url 'account_signup' %}">
                    Register
                </a>

                <a class="btn secondary-btn {% if name == 'account_login' %}active{% endif %}"
                    href="{% url 'account_login' %}">
                    Login
                </a>

                {% endwith %}
                {% endif %}
            </div>
        </div>




        <!-- index.html content ends here -->
        {% endblock content %}

        {% block copyright %}
        Copyright 2023 Rocio Serrano
        {% endblock copyright %}