/* Google Fonts  */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); */

/* VARIABLES */
:root {
    /* Backgrounds */
    --bg-primary: #f9f9f9;
    --bg-secondary: #e8e6e1;

    --primary-colour: #6f4e37; /* Anthracite Gray */
    --secondary-colour: #3d5d78;
    --secondary1-colour: #aa9581; /* Soft Coral */

    /* Text */
    --text-primary: #3d5d78; /* Dark Gray */
    --text-secondary: #aebacd; /* Medium Gray */

    /* Buttons */
    --btn-primary: #264653; /* Sapphire Blue */
    --btn-error: #e43c3c; /* Soft Coral */
    --btn-edit: #f9c646; /* Soft Mustard */

    /* Accents / Icons */
    --accent: #2a9d8f; /* Forest Green */
}
/* RESETS */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-primary);
    color: var(--primary-colour);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    color: var(--primary-colour);
}

p {
    font-family: 'Lato', sans-serif;
    color: var(--text-primary);
    line-height: 1.6;
}

/* GLOBAL LAYOUT */
/* Structure: sidebar + content */

.layout {
    display: block;
}

/* REUSABLE COMPONENTS */

/* Buttons */
.primary-btn {
    background-color: #ffffff !important;
    color: var(--text-primary) !important;
    font-weight: 600;
    border-color: var(--text-primary);
    justify-content: center;
}
.primary-btn:hover {
    background-color: var(--text-primary) !important;
    color: var(--bg-primary) !important;
    border-color: var(--text-primary);
}

.secondary-btn {
    background-color: #ffffff !important;
    color: var(--text-primary) !important;
    border-color: var(--text-primary);
    font-weight: 600;
    justify-content: center;
}

.secondary-btn:hover {
    background-color: var(--text-primary) !important;
    color: var(--bg-primary) !important;
}

.actions-btn {
    font-size: 1.2rem;
    padding: 0.3rem 1.2rem;
    color: #f9f9f9;
    font-weight: 500;
}

.btn-edit {
    background-color: var(--btn-edit);
    color: var(--secondary-colour);
    border: 1px solid var(--btn-edit);
}
.btn-edit:hover {
    background-color: #f9d26f;
    scale: 1.05;
}

.btn-edit-sm {
    background-color: var(--secondary-colour);
    color: var(--bg-primary);
}

.btn-delete {
    border: none;
    background-color: #e43c3c;
}
.btn-delete:hover {
    background-color: #eb2406;
    scale: 1.05;
    color: #f9f9f9;
}

.btn-active {
    background-color: var(--accent);
    border: none;
}

.btn-inactive {
    background-color: var(--text-secondary);
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
}

/* background */

.blue-bg {
    background-color: var(--primary-colour) !important;
    color: #ffffff !important;
}

/* tables */
.table-custom {
    --bs-table-bg: #ffffff;
    --bs-table-striped-bg: var(--bg-primary);
    --bs-table-striped-color: var(--secondary1-colour);
    --bs-table-hover-bg: rgba(252, 113, 92, 0.1);
    --bs-table-hover-color: var(--primary-colour);
    --bs-table-border-color: var(--primary-colour);
    --bs-table-color: var(--primary-colour) !important;
}

.table.table-custom thead tr th {
    color: var(--primary-colour) !important;
    border: 1px solid var(--primary-colour);
}

/* Cards */

.custom-card-shadow {
    box-shadow: 0 4px 12px rgba(111, 78, 55, 0.5);
}

.card-title,
.card-text {
    color: var(--primary-colour);
}

.card-img-container {
    width: 100%;
    height: 350px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(111, 78, 55, 0.2), #ffffff);
}

.bg-custom {
    background-color: #f9f9f9 !important;
}

.img-card {
    width: 100%;
    height: 100%;
    padding: 1.2rem !important;
    object-fit: scale-down;
    box-shadow: 0 4px 12px rgba(248, 249, 250, 0.15);
}
.img-card:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.card:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

table {
    width: auto;
    table-layout: auto;
}

/* UTILITIES */
p.highlight-txt {
    color: var(--text-primary);
    font-weight: 600;
}

.member {
    font-weight: 600;
    color: #fff;
}
.img-book-detail-container {
    width: 100%;
    height: 100%;
    max-height: 600px; /* límite máximo del card */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.book-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.card-detail {
    max-height: 600px;
    overflow: hidden;
}
/* RESPONSIVE DESIGN */
@media (min-width: 768px) {
    /* lg */
    .layout {
        display: flex;
    }

    .main_right {
        padding-left: 180px;
        padding-right: 4rem !important;
    }
    #sidebar {
        visibility: visible !important;
        transform: none !important; /* offcanvas “static” */
    }
}

a {
    text-decoration: none !important;
    color: var(--text-secondary);
}
/* Width of the offcanvas sidebar */
#sidebar {
    --bs-offcanvas-width: 260px; /* Bootstrap allows adjusting the width via custom property */
    padding-top: 55px;
}

/* Optional visual adjustments */
#sidebar .nav-link {
    border-radius: 0.375rem;
}
#sidebar .nav-link.active {
    color: #fff;
    background-color: var(--btn-primary) !important;
}

.no-style li {
    list-style: none;
}

.blue-navbar {
    background-color: var(--primary-colour) !important;
    color: #ffffff !important;
}
.navbar-brand {
    color: #ffffff !important;
    margin-left: 3rem;
    font-weight: 700;
    font-size: 2rem;
}
