{% extends "base.html" %}
{% block title %}Create Author - Bookaroo{% endblock title %}

{% load static %}


{% block content %}

<!-- Starts Create_author template -->
<div class="container mt-4">
    <h1>Register form for author</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit" class="btn secondary-btn">Save Author</button>
    </form>
</div>
<!-- Ends Create_author template -->

{% endblock content %}