{% extends "base.html" %}

{% block title %}List Authors - Bookaroo{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1 class="h4 m-0">List of Authors</h1>

    {% if authors %}
    <div class="table-responsive">
        <table class="table table-auto table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col"">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td scope=" row" class="align-middle text-center">{{ author.id }}</td>
                    <td>{{ author.fullname }}</td>
                    <td>{{ author.country }}</td>
                    <td class="align-middle text-center">
                        {% if author.is_active %}
                        <span class="badge btn-active actions-btn fs-6">Active</span>
                        {% else %}
                        <span class="badge text-bg-secondary actions-btn fs-6">Inactive</span>
                        {% endif %}
                    <td>
                        <a href="{% url 'book:edit_author' author.id %}"
                            class="btn btn-sm btn-edit actions-btn ms-2">Edit</a>
                        {% if author.is_active %}
                        <a href="{% url 'book:delete_author' author.id %}"
                            class="btn btn-sm btn-delete actions-btn ms-3">Delete</a>
                        {% endif %}
                    </td>


                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No authors found.</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}