{% extends 'base.html' %}
{% load static %}
{% block title %} Bookaroo | {{ object }} {% endblock title %}

{% block extra_css %}
<style>
    @media (max-width: 768px) {

        /* in mobile view the image come back on the top */
        .card-horizontal {
            flex-direction: column !important;
        }
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-lg border-0 p-3 overflow-hidden">
        <div class="row g-4 h-100 align-items-start">

            <!--  Left side: image -->
            <div class="col-md-5">
                <div class="p-3">
                    <img src="{{ object.image.url }}" alt="{{ object }}" class="img-fluid h-100">
                </div>
            </div>

            <!-- Right side information -->
            <div class="col-md-7">
                <div class="card-body pt-6 mt-3">
                    <h2 class="card-title mb-3 fw-semibold">{{ object }}</h2>
                    <p class="text-muted mb-2"> Published: {{ object.publication_date }}</p>
                    <p class="orange-txt mb-4"><strong>Authors:</strong> {{ object.get_authors }}</p>

                    <h5><strong>Description</strong></h5>
                    <p class="card-text">{{ object.description }}</p>

                    <!--  Buttons -->
                    <div class="mt-4">
                        {% if can_reserve %}
                        <form method="post" action="{% url 'book:reserve_book' book.pk %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn secondary-btn">Reserve Book</button>
                        </form>
                        <a href="{% url 'book:available_books_list' %}" class="ms-3 btn primary-btn">Cancel</a>
                        {% else %}
                        <button class="btn btn-secondary bt-lg" disabled>You already have reserved this book</button>
                        <a href="{% url 'book:available_books_list' %}" class="ms-3 btn primary-btn">Back</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}