{% extends "base.html" %}

{% block title %}List Books - Bookaroo{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1 class="h4 fs-3 fw-semibold mb-3">List of Books</h1>

    {% if books %}
    <div class="table-responsive">
        <table class="table table-auto table-striped table-bordered">
            <thead class="table-light fs-4">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <!-- <th scope="col">Published Date</th> -->
                    <th scope="col">Author</th>
                    <th scope="col">Book Status</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td scope="row" class="align-middle text-center">{{ book.id }}</td>
                    <td class="align-middle">{{ book.title }}</td>
                    <!-- <td>{{ book.published_date }}</td> -->
                    <td class="no-style align-middle">
                        {% for author in book.author.all %}
                        <li>{{ author.fullname }}</li>
                        {% endfor %}
                    </td>
                    <td class="align-middle text-center">
                        {% if book.is_active %}
                        <span class="badge btn-active actions-btn fs-6">Active</span>
                        {% else %}
                        <span class="badge text-bg-secondary actions-btn fs-6">Inactive</span>
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">{{ book.stock }}</td>
                    <td class="align-middle">
                        <a href="{% url 'book:edit_book' book.id %}"
                            class="btn btn-sm btn-edit actions-btn ms-2">Edit</a>
                        <!-- <a href="{% url 'book:delete_book' book.id %}" class="btn btn-sm btn-delete ms-3">Delete</a> -->
                        {% if book.is_active %}
                        <a href="{% url 'book:delete_book' book.id %}"
                            class="btn btn-sm btn-delete actions-btn ms-3">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">There are no books registered.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No books found.
    </div>
    {% endif %}


</div>

{% endblock content %}