{% extends 'base.html' %}

{% block title %} Bookaroo | {{ object }} {% endblock title %}

{% block content %}

<div class="container mt-4">
    <h1>Confirm Reservation</h1>

    <form method="POST">
        {% csrf_token %}
        <p>Do you want to reserve the book <strong>"{{ view.book.title }}"</strong>?</p>

        <button type="submit" class="btn btn-success">Confirm</button>

        <a href="{% url 'book:available_books_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}